@model icbf_app.Models.Jardin

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Jardín</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreJardin" class="control-label">Nombre</label>
                <input asp-for="NombreJardin" class="form-control" />
                <span asp-validation-for="NombreJardin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionJardin" class="control-label">Dirección</label>
                <input asp-for="DireccionJardin" class="form-control" />
                <span asp-validation-for="DireccionJardin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoJardin" class="control-label">Estado</label>
                <select asp-for="EstadoJardin" class="form-control" asp-items="ViewBag.Estados"></select>
                <span asp-validation-for="EstadoJardin" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-success">Cancelar</a>
            </div>
            
        </form>
        
          
     
    </div>
</div>
   </br>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
